* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #548687;
    text-align: center;
}

.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    height: 60vmin;
    width: 60vmin;
    border: 2px solid black;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
    background-color: rgb(240, 238, 238);
}

.player {
    height: 50px;
    font-size: 30px;
}

.input {
    height: 25px;
    font-size: 15px;
    color: #000;
}

#clear-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 20px;
    border: none;
} 


.login-btn {
    margin: 20px;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: blue;
    color: #fff;
    border-radius: 20px;
    border: none;
}

.container {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;  
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 5vmin;
    color: #b0413e;
    background-color: #fffc7f;
} 

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 20px;
    border: none;
} 

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: #ffffc7;
    font-size: 5vmin;

}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
} 